.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.grid-container-inline {
    display: inline-grid;
    grid-template-columns: repeat(12, 1fr);
}

.grid-col-span-1 {
    grid-column: span 1;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-col-span-3 {
    grid-column: span 3;
}

.grid-col-span-4 {
    grid-column: span 4;
}

.grid-col-span-5 {
    grid-column: span 5;
}

.grid-col-span-6 {
    grid-column: span 6;
}

.grid-col-span-7 {
    grid-column: span 7;
}

.grid-col-span-8 {
    grid-column: span 8;
}

.grid-col-span-9 {
    grid-column: span 9;
}

.grid-col-span-10 {
    grid-column: span 10;
}

.grid-col-span-11 {
    grid-column: span 11;
}

.grid-col-span-12 {
    grid-column: span 12;
}
