<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>

    <script src="https://kit.fontawesome.com/10d4b640fa.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="../../css/resetDefault.css">
    <link rel="stylesheet" href="../../css/variables.css">
    <link rel="stylesheet" href="../utilities/typography/typography.css">
    <link rel="stylesheet" href="../button/button.css">
    <link rel="stylesheet" href="card.css">
</head>
<body>
    
    <div class="card card-outline">
        <div class="card-header">
            <h3 class="card-title">Card Title</h3>
        </div>
        <div class="card-body">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus laborum exercitationem voluptates sequi molestias fugit nobis.
            </p>
        </div>
    </div>

    <div class="card card-shadow">
        <div class="card-header">
            <h3 class="card-title">Card Title</h3>
            <button class="btn btn-icon">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="card-body">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus laborum exercitationem voluptates sequi molestias fugit nobis.
            </p>
        </div>
    </div>

    <div class="card">
        <img class="card-image" src="../../assets/image-4.jpg" alt="cat image for card">
        <div class="card-body">
            <h3 class="card-title">Card Title</h3>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus laborum exercitationem voluptates sequi molestias fugit nobis.
            </p>
        </div>
    </div>

    <div class="card">
        <img class="card-image" src="../../assets/image-4.jpg" alt="cat image for card">
        <div class="card-body">
            <h3 class="card-title">Card Title</h3>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus laborum exercitationem voluptates sequi molestias fugit nobis.
            </p>

            <button class="btn btn-primary" href="#">Read more</button>
        </div>
    </div>

    <div class="card">
        <span class="card-badge">New</span>
        <span class="card-badge-heart">
            <i class="fas fa-heart"></i>
        </span>
        <img class="card-image card-image-vertical" src="../../assets/image-2.jpg" alt="cat potrait image for card">
        <div class="card-body">
            <h3 class="card-title">Card Title</h3>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </p>

            <button class="btn btn-primary" href="#">Read more</button>
        </div>
    </div>

    <div class="card card-horizontal">
        <img class="card-image card-image-vertical" src="../../assets/image-2.jpg" alt="cat potrait image for card">
        <div class="card-body">
            <h3 class="card-title">Card Title</h3>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit, Necessitatibus laborum exercitationem voluptates sequi molestias fugit nobis, facilis unde soluta quos saepe dignissimos nihil omnis possimus eum cupiditate!
            </p>
            
            <button class="btn" href="#">share</button>
            <button class="btn btn-primary" href="#">Read more</button>
        </div>
    </div>

    <div class="card">
        <img class="card-image" src="../../assets/image-4.jpg" alt="cat image for card">
        <div class="card-body">
            <h3 class="card-title">Card Title</h3>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus laborum exercitationem voluptates sequi molestias fugit nobis.
            </p>

            <button class="btn btn-primary" href="#">Read more</button>
        </div>
        <div class="overlay-container">
            <h4 class="overlay-text">THIS BLOG HAS BEEN DELETED</h4>
        </div>
    </div>
</body>
</html>
