<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input</title>

    <link rel="stylesheet" href="../../css/resetDefault.css">
    <link rel="stylesheet" href="../../css/variables.css">
    <link rel="stylesheet" href="../utilities/typography/typography.css">
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="./input.css">
</head>
<body>

    <div class="container">
        <label class="form-label" for="email">Email *</label>
        <input class="form-field" type="email" name="email" id="email" required>
        <label class="form-label" for="text-area">Enter your query here: *</label>
        <textarea class="form-field form-text-area" name="text-area" id="text-area" rows="5"></textarea>
    </div>
    <div class="container">
        <label class="form-label error-label" for="password-error-example">Password *</label>
        <input  class="form-field error-field" type="password" name="password-error-example" id="password-error-example">
        <div class="form-text error-text">Your password is incorrect</div>
        <label class="form-label warning-label" for="password-warning-example">Password *</label>
        <input class="form-field warning-field" type="password" name="password-warning-example" id="password-warning-example">
        <div class="form-text warning-text">Your password is weak</div>
        <label class="form-label success-label" for="password-success-example">Password *</label>
        <input class="form-field success-field" type="password" name="password-success-example" id="password-success-example">
        <div class="form-text success-text">Your password is strong</div>
    </div>

    <div class="container input-container">
        <label class="form-label" for="checked-radio-input">
            <input class="form-radio" type="radio" name="radio-example" id="checked-radio-input" checked>
            Checked
        </label>
        <label class="form-label" for="unchecked-radio-input">
            <input class="form-radio" class="form-field" type="radio" name="radio-example" id="unchecked-radio-input">
            Unchecked
        </label>
        <label class="form-label disabled-label" for="disabled-radio-input">
            <input class="form-radio disabled" type="radio" name="radio-example" id="disabled-radio-input" disabled>
            Disabled
        </label>
    </div>
    <div class="container input-container">
        <label class="form-label" for="checked-checkbox-input">
            <input class="form-checkbox" type="checkbox" name="checkbox-example" id="checked-checkbox-input" checked>
            Checked
        </label>
        <label class="form-label" for="unchecked-checkbox-input">
            <input class="form-checkbox" type="checkbox" name="checkbox-example" id="unchecked-checkbox-input">
            Unchecked
        </label>
        <label class="form-label disabled-label" for="disabled-checkbox-input">
            <input class="form-checkbox disabled" type="checkbox" name="checkbox-example" id="disabled-checkbox-input" disabled>
            Disabled
        </label>
    </div>
    
</body>
</html>