
.btn {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background: var(--white-color);
    border-radius: var(--border-radius-extra-small);
}

.btn-primary {
    background: var(--primary-color);
    color: var(--white-color);
}

.btn-success {
    background: var(--success-color);
    color: var(--white-color);
}

.btn-warning {
    background: var(--warning-color);
    color: var(--white-color);
}

.btn-danger {
    background: var(--danger-color);
    color: var(--white-color);
}

.btn-info {
    background: var(--info-color);
    color: var(--gray-color);
}

.btn-primary-outline {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.btn-primary-outline:hover {
    background: var(--primary-color);
    color: var(--white-color);
}

.btn-success-outline {
    border: 2px solid var(--success-color);
    color: var(--success-color);
}

.btn-success-outline:hover {
    background: var(--success-color);
    color: var(--white-color);
}

.btn-warning-outline {
    border: 2px solid var(--warning-color);
    color: var(--warning-color);
}

.btn-warning-outline:hover {
    background: var(--warning-color);
    color: var(--white-color);
}

.btn-danger-outline {
    border: 2px solid var(--danger-color);
    color: var(--danger-color);
}

.btn-danger-outline:hover {
    background: var(--danger-color);
    color: var(--white-color);
}

.btn-info-outline {
    border: 2px solid var(--info-color);
    color: var(--gray-color);
}

.btn-info-outline:hover {
    background: var(--info-color);
}

.btn i {
    padding-right: 0.25rem;
}

.btn-link {
    text-decoration: underline;
    color: var(--secondary-color);
}

.btn-link:hover {
    background: var(--lynx-white-color);
}

.btn-float {
    color: var(--white-color);
    padding: 1rem 1.175rem;
    border-radius: var(--border-radius-circle);
    margin: 0.5rem;
    box-shadow: var(--box-shadow);
}

.btn-lg {
    font-size: var(--font-size-3);
    padding: 0.5rem 1.5rem;
}

.btn-sm {
    font-size: var(--font-size-5);
    padding: 0.5rem 1rem;
}