<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar</title>

    <link rel="stylesheet" href="../../css/resetDefault.css">
    <link rel="stylesheet" href="../../css/variables.css">
    <link rel="stylesheet" href="../utilities/typography/typography.css">
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="avatar.css">
</head>
<body>
    <div class="container">
        <!-- Basic avatars -->
        <figure class="avatar avatar-xl">
            <img src="../../assets/avatar.jpg" alt="">
        </figure>

        <figure class="avatar avatar-lg">
            <img src="../../assets/avatar.jpg" alt="">
        </figure>

        <figure class="avatar avatar-md">
            <img src="../../assets/avatar.jpg" alt="">
        </figure>

        <figure class="avatar avatar-sm">
            <img src="../../assets/avatar.jpg" alt="">
        </figure>

        <!-- Squared avatars start here -->
        <figure class="avatar avatar-square avatar-xl">
            <img src="../../assets/avatar.jpg" alt="">
        </figure>

        <figure class="avatar avatar-square avatar-lg">
            <img src="../../assets/avatar.jpg" alt="">
        </figure>

        <figure class="avatar avatar-square avatar-md">
            <img src="../../assets/avatar.jpg" alt="">
        </figure>

        <figure class="avatar avatar-square avatar-sm">
            <img src="../../assets/avatar.jpg" alt="">
        </figure>
    </div>
</body>
</html>