<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>

    <link rel="stylesheet" href="../../css/resetDefault.css">
    <link rel="stylesheet" href="../../css/variables.css">
    <link rel="stylesheet" href="../utilities/typography/typography.css">
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="../button/button.css">
    <link rel="stylesheet" href="../input/input.css">
    <link rel="stylesheet" href="./navbar.css">
</head>
<body>
   <nav class="navbar navbar-primary">
       <div class="navbar-section">
           <a class="nav-brand" href="">Navbar</a>
       </div>
       <div class="navbar-section">
           <ul class="nav-list">
               <li class="nav-list-item active">
                   <a href="" class="nav-link">
                    Services
                   </a>
               </li>
               <li class="nav-list-item">
                   <a href="" class="nav-link">
                    About
                   </a>
               </li>
               <li class="nav-list-item">
                   <a href="" class="nav-link">
                    Contact us
                   </a>
               </li>
           </ul>
       </div>
   </nav>
   
   <nav class="navbar navbar-dark">
        <div class="navbar-section">
            <a class="nav-brand" href="">Navbar</a>
        </div>
        <div class="navbar-section">
            <ul class="nav-list">
                <li class="nav-list-item active">
                    <a href="" class="nav-link">
                        Services
                    </a>
                </li>
                <li class="nav-list-item">
                    <a href="" class="nav-link">
                        About
                    </a>
                </li>
                <li class="nav-list-item">
                    <a href="" class="nav-link">
                        Contact us
                    </a>
                </li>
            </ul>
            <form class="nav-form">
                <input class="form-field" type="search" name="nav-search" placeholder="search...">
            </form>
        </div>
    </nav>

    <nav class="navbar navbar-light">
        <div class="navbar-section">
            <a class="nav-brand" href="">Navbar</a>
        </div>
        <form class="nav-form">
            <input class="form-field" type="search" name="nav-search" placeholder="search...">
        </form>
        <div class="navbar-section">
            <ul class="nav-list">
                <li class="nav-list-item active">
                    <a href="" class="nav-link">
                        Services
                    </a>
                </li>
                <li class="nav-list-item">
                    <a href="" class="nav-link">
                        About
                    </a>
                </li>
                <li class="nav-list-item">
                    <a href="" class="nav-link">
                        Contact us
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <nav class="navbar">
        <div class="navbar-section">
            <a class="nav-brand" href="">Navbar</a>
        </div>
        <form class="nav-form">
            <input class="form-field" type="search" name="nav-search" placeholder="search...">
        </form>
        <div class="navbar-section">
            <ul class="nav-list">
                <li class="nav-list-item active">
                    <a href="" class="nav-link">
                        Services
                    </a>
                </li>
                <li class="nav-list-item">
                    <a href="" class="nav-link">
                        About
                    </a>
                </li>
                <li class="nav-list-item">
                    <a href="" class="nav-link">
                        Contact us
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>