.navbar {
    width: 100%;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.navbar-section {
    padding: 1rem;
}

.nav-brand {
    text-decoration: none;
    font-size: var(--font-size-3);
    color: inherit;
}

.navbar-toggler {
    display: none;
}

.nav-section-header {
    display: none;
}

.nav-list {
    display: inline-flex;
}

.nav-list-item {
    padding: 0 0.5rem;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

.active {
    font-weight: var(--font-weight-semi-bold);
}

.nav-form {
    display: inline-flex;
}

/* navbar color variations */
.navbar-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.navbar-dark {
    background-color: var(--black-color);
    color: var(--white-color);
}

.navbar-light {
    background-color: var(--info-color);
}

@media only screen and (max-width: 600px) {
    .nav-form {
        display: none;
    }

    .navbar-toggler {
        display: block;
        margin-right: 1rem;
        font-size: var(--font-size-2);
    }

    
    .collapse-section {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
        z-index: 1111;
    }
    
    .show-collapse-section {
        transform: translateX(0);
    }

    .collapse-section .navbar-section {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        background-color: white;
        position: absolute;
        right: 0;
        box-shadow: -4px 0 4px rgba(40, 40, 40, 0.15);
    }

    .collapse-section .nav-form {
        display: block;
    }

    .nav-section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .collapse-section .nav-list {
        display: flex;
        flex-direction: column;
    }

    .nav-list-item {
        margin: 0.5rem 0;
        padding: 0.5rem;
    }
    .nav-list-item a {
        display: block;
    }
}
