<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toast</title>
    <script src="https://kit.fontawesome.com/10d4b640fa.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../../css/resetDefault.css">
    <link rel="stylesheet" href="../../css/variables.css">
    <link rel="stylesheet" href="../utilities/typography/typography.css">
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="../button/button.css">
    <link rel="stylesheet" href="./toast.css">
</head>
<body>
    
    <div class="toast">
        <section class="toast-body">
            <p>
                A default toast!
            </p>
            <button class="btn btn-icon toast-close-btn">
                <i class="fas fa-times"></i>
            </button>
        </section>
    </div>
    
    <div class="toast toast-success">
        <section class="toast-body">
            <p>
                <i class="fas fa-check-circle"></i>
                Your Image is uploaded success fully.
            </p>
            <button class="btn btn-icon toast-close-btn">
                <i class="fas fa-times"></i>
            </button>
        </section>
    </div>
    
    <div class="toast toast-warning">
        <section class="toast-body">
            <p>
                <i class="fas fa-exclamation-triangle"></i>
                Your file is corrupted.
            </p>
            <button class="btn btn-icon toast-close-btn">
                <i class="fas fa-times"></i>
            </button>
        </section>
    </div>
    
    <div class="toast toast-error">
        <section class="toast-body">
            <p>
                <i class="fas fa-exclamation-circle"></i>
                Failed to upload your file.
            </p>
            <button class="btn btn-icon toast-close-btn">
                <i class="fas fa-times"></i>
            </button>
        </section>
    </div>
    
    <div class="toast toast-info">
        <section class="toast-body">
            <p>
                <i class="fas fa-info-circle"></i> 
                Uploading your file.
            </p>
            <button class="btn btn-icon toast-close-btn">
                <i class="fas fa-times"></i>
            </button>
        </section>
    </div>
    
</body>
</html>