<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>

    <link rel="stylesheet" href="../../css/resetDefault.css">
    <link rel="stylesheet" href="../../css/variables.css">
    <link rel="stylesheet" href="../utilities/typography/typography.css">
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="./list.css">
</head>
<body>
    
    <div class="container">
        <ul class="list">
            <h4 class="list-heading">Simple List</h4>
            <li class="list-item">List item 1</li>
            <li class="list-item">List item 2</li>
            <li class="list-item">List item 3</li>
            <li class="list-item">List item 4</li>
        </ul>
        
        <ul class="list inline-list">
            <li class="inline-list-item">List item 1</li>
            <li class="inline-list-item">List item 2</li>
            <li class="inline-list-item">List item 4</li>
            <li class="inline-list-item">List item 3</li>
        </ul>

        <ul class="list stacked-list">
            <li class="list-item">List item 1</li>
            <li class="list-item">List item 2</li>
            <li class="list-item">List item 3</li>
            <li class="list-item">List item 4</li>
        </ul>

    </div>
</body>
</html>