/* list styles */
.list {
    width: fit-content;
    padding: 0.5rem;
    margin: 0.5rem;
}

.list-heading {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

.list-item {
    padding: 1rem 2rem;
}

/* inline list styles */
.inline-list {
    display: inline-flex;
    padding: 0.5rem 1rem;
}

.inline-list-item {
    padding: 1rem;
}

/* Stacked list styles */
.stacked-list {
    padding: 0.5rem 1rem;
    border: 1px solid var(--sleek-gray-color);
    border-radius: var(--border-radius-extra-small);
}

.stacked-list .list-item {
    background: var(--white-color);
    border-bottom: 1px solid var(--sleek-gray-color);
}

.stacked-list .list-item:last-child {
    border-bottom: none
}

