.list {
    width: fit-content;
    background-color: var(--sleek-gray-color-100);
    padding: 0.5rem;
    margin: 0.5rem;
}

.list-heading {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

.list-item {
    padding: 1rem 2rem;
}

.inline-list {
    display: inline-flex;
    padding: 0.5rem 1rem;
}

.inline-list-item {
    padding: 1rem;
}

.stacked-list {
    padding: 0.5rem 1rem;
}

.stacked-list .list-item {
    background: var(--white-color);
    border-radius: var(--border-radius-small);
    margin: 0.5rem 0;
}

