<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge</title>

    <script src="https://kit.fontawesome.com/10d4b640fa.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../../css/resetDefault.css">
    <link rel="stylesheet" href="../../css/variables.css">
    <link rel="stylesheet" href="../utilities/typography/typography.css">
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="../button/button.css">
    <link rel="stylesheet" href="../avatar/avatar.css">
    <link rel="stylesheet" href="badge.css">
</head>
<body>

    <div class="container">
        <h4>Badges</h4>
        <div class="badge-container">
            <button class="btn btn-primary">Action<span class="badge btn-badge">8</span></button>
        </div>
        <div class="badge-container">
            <button class="btn btn-primary">Hide<span class="badge badge-pill btn-badge">99+</span></button>
        </div>
        <div class="badge-container">
            <i class="fas fa-home"></i>
            <span class="badge icon-badge">15</span>
        </div>
        <h4>Badges on avatars</h4>
        <figure class="avatar avatar-xl badge-container">
            <img src="../../assets/avatar.jpg" alt=""></img>
            <span class="badge avatar-badge"></span>
        </figure>
        <figure class="avatar avatar-lg badge-container">
            <img src="../../assets/avatar.jpg" alt=""></img>
            <span class="badge avatar-badge"></span>
        </figure>
        <figure class="avatar avatar-md badge-container">
            <img src="../../assets/avatar.jpg" alt=""></img>
            <span class="badge avatar-badge"></span>
        </figure>
        <figure class="avatar avatar-sm badge-container">
            <img src="../../assets/avatar.jpg" alt=""></img>
            <span class="badge avatar-badge"></span>
        </figure>
    </div>
    
</body>
</html>