<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>

    <script src="https://kit.fontawesome.com/10d4b640fa.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../../css/resetDefault.css">
    <link rel="stylesheet" href="../../css/variables.css">
    <link rel="stylesheet" href="../utilities/typography/typography.css">
    <link rel="stylesheet" href="../button/button.css">
    <link rel="stylesheet" href="./modal.css">
</head>
<body>

    <button class="btn open-modal-btn">Open Modal</button>
    <div class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Modal Heading</h4>
                <button class="btn btn-icon">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores aperiam sapiente ipsa voluptas. Perspiciatis facere rerum ab amet nulla, at atque magnam illum quo ipsam quos accusamus porro, illo doloribus?</p>
            </div>
            <div class="modal-footer">
                <button class="btn close-modal-btn">Close</button>
                <button class="btn btn-primary">Action</button>
            </div>
        </div>
    </div>

    <script src="modal.js"></script>
</body>
</html>