/* border radius utils */
.br-xs {
    border-radius: var(--border-radius-extra-small);
}

.br-sm {
    border-radius: var(--border-radius-small);
}

.br-md {
    border-radius: var(--border-radius-medium);
}

.br-lg {
    border-radius: var(--border-radius-larger);
}

.br-circle {
    border-radius: var(--border-radius-circle)
}