.alert{
    padding: 1rem;
    margin: 1rem;
    border-radius: var(--border-radius-small);
}

.alert-primary {
    background: var(--primary-color);
}

.alert-success {
    background: var(--success-color);
}

.alert-warning {
    background: var(--warning-color);
}

.alert-danger {
    background: var(--danger-color);
}

.alert-info {
    background: var(--info-color);
}

.alert-primary-outline {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.alert-success-outline {
    color: var(--success-color);
    border: 2px solid var(--success-color);
}

.alert-warning-outline {
    color: var(--warning-color);
    border: 2px solid var(--warning-color);
}

.alert-danger-outline {
    color: var(--danger-color);
    border: 2px solid var(--danger-color);
}

.alert-info-outline {
    color: var(--lynx-gray-color);
    border: 2px solid var(--info-color);
}