<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>

    <link rel="stylesheet" href="../../css/resetDefault.css">
    <link rel="stylesheet" href="../../css/variables.css">
    <link rel="stylesheet" href="../component.css">
    <link rel="stylesheet" href="alert.css">
</head>
<body>
    <div class="container">
        <div class="alert alert-primary">
            A simple primary alert - check it out!
        </div>
        <div class="alert alert-success">
            A simple success alert - check it out!
        </div>
        <div class="alert alert-warning">
            A simple warning alert - check it out!
        </div>
        <div class="alert alert-danger">
            A simple danger alert - check it out!
        </div>
        <div class="alert alert-info">
            A simple info alert - check it out!
        </div>

        <div class="alert alert-primary-outline">
            A simple primary alert - check it out!
        </div>
        <div class="alert alert-success-outline">
            A simple success alert - check it out!
        </div>
        <div class="alert alert-warning-outline">
            A simple warning alert - check it out!
        </div>
        <div class="alert alert-danger-outline">
            A simple danger alert - check it out!
        </div>
        <div class="alert alert-info-outline">
            A simple info alert - check it out!
        </div>
    </div>
</body>
</html>